// BLACK THEME COLOR KEYS MAP: This partial defines the black theme's keys color map.
// - Map include semantic color keys scope tokens.
// - Map is collected into the $theme-black-settings map and is interpolated into custom properties.

$theme-black-keys: (
        primary-color: $black-theme-primary-color,
        primary-hover-color: $black-theme-primary-hover-color,
        primary-selected-color: $black-theme-primary-selected-color,
        primary-text-color: $black-theme-primary-text-color,
        text-color-on-primary: $black-theme-text-color-on-primary,
        text-color-on-inverted: $black-theme-text-color-on-inverted,
        secondary-text-color: $black-theme-secondary-text-color,
        placeholder-color: $black-theme-placeholder-color,
        icon-color: $black-theme-icon-color,
        link-color: $black-theme-link-color,
        primary-background-color: $black-theme-primary-background-color,
        primary-background-hover-color: $black-theme-primary-background-hover-color,
        secondary-background-color: $black-theme-secondary-background-color,
        grey-background-color: $black-theme-grey-background-color,
        allgrey-background-color: $black-theme-allgrey-background-color,
        inverted-color-background: $black-theme-inverted-color-background,
        disabled-text-color: $black-theme-disabled-text-color,
        disabled-background-color: $black-theme-disabled-background-color,
        positive-color: $black-theme-positive-color,
        positive-color-hover: $black-theme-positive-color-hover,
        positive-color-selected: $black-theme-positive-color-selected,
        negative-color: $black-theme-negative-color,
        negative-color-hover: $black-theme-negative-color-hover,
        negative-color-selected: $black-theme-negative-color-selected,
        private-color: $black-theme-private-color,
        shareable-color: $black-theme-shareable-color,
        ui-border-color: $black-theme-ui-border-color,
        layout-border-color: $black-theme-layout-border-color,
);

// DARK THEME SHADOW MAP: dark theme's shadow color map.
// - Map include shadow scope tokens.
// - Map is collected into the $theme-black-settings map and is interpolated into custom properties.

$theme-black-shadow-keys: (
        box-shadow-xs: $black-theme-box-shadow-xs,
        box-shadow-small: $black-theme-box-shadow-small,
        box-shadow-medium: $black-theme-box-shadow-medium,
        box-shadow-large: $black-theme-box-shadow-large,
);