$theme-black-legacy-content-keys: (
        color-done-green-selected-with-opacity: rgba(9, 108, 67, 0.6),
        color-egg_yolk-rgb: (255, 213, 51),
        color-sunset-selected-with-opacity: rgba(136, 67, 67, 0.6)
);
