$box-shadow-color: #000000;

$box-shadow-small: $shadow-size-small rgba($box-shadow-color, $shadow-opacity);
$box-shadow-medium: $shadow-size-medium rgba($box-shadow-color, $shadow-opacity);
$box-shadow-large: $shadow-size-large rgba($box-shadow-color, $shadow-large-opacity);

// legacy
$box-shadow-mediun: $box-shadow-medium;
