// BASIC THEME TOKENS: SHADOWS
// - This partial defines Basic Theme's shadow tokens

$shadow-color: $color-black;

$box-shadow-small: $shadow-size-small rgba($shadow-color, $shadow-opacity);
$box-shadow-medium: $shadow-size-medium rgba($shadow-color, $shadow-opacity);
$box-shadow-large: $shadow-size-large rgba($shadow-color, $shadow-large-opacity);

// legacy
$box-shadow-mediun: var(--box-shadow-medium);
