//  BLACK THEME TOKENS: BASE COLORS
// - This partial defines Black Theme's base color tokens

// Natural / Gray
$color-smoke: #8d8d8d;
$color-dust: #636363;
$color-night: #2c2c2c;
$color-vanta: #111111;
// - Muted
$color-dust-muted: #3a3a3a;
$color-mouse-muted: #5d5d5d;

// Text
$color-smog: #eeeeee;
$color-mouse: #aaaaaa;

// Surface
$color-charcoal: #212121;

//// Registration
//$theme-black-color-blue-light-brilliant-azure: #2b93ff; //primary
//
//// Grays
//$theme-black-color-gray-light-supper-silver: #eeeeee; // text light
//$theme-black-color-gray-dhusar: #aaaaaa; // asphalt
//$theme-black-color-gray-philippine: #8d8d8d; // Riverstone
//$theme-black-color-gray-dark-digital: #636363; // UI gray
//$theme-black-color-gray-shoe-wax: #2c2c2c; // Wolf
//$theme-black-color-black-dreamless-sleep: #111111; // mud
//
//// Semantics
//$theme-black-color-success-highlight: $theme-dark-color-success-highlight;
//$theme-black-color-error-highlight: $theme-dark-color-error-highlight;
//
//// Semantics assignments
//$theme-black-color-highlight_blue: $theme-dark-color-highlight_blue;
//$theme-black-color-highlight_blue-rgb: extract-rgb($theme-dark-color-highlight-blue);
//
//$theme-black-color-link_color: $theme-dark-color-blue-light-cool;
//
//// Gray Key assignments
//$theme-black-color-snow_white: $color-snow_white;
//$theme-black-color-snow_white-rgb: extract-rgb($theme-black-color-snow_white);
//$theme-black-color-snow_white-with-opacity: rgba($theme-black-color-snow_white, 0.4);
//$theme-black-color-ui_grey: $theme-black-color-gray-dark-digital;
//$theme-black-color-wolf_gray: $theme-black-color-gray-shoe-wax;
//$theme-black-color-wolf_gray-with-opacity: rgba($theme-black-color-wolf_gray, 0.1);
//$theme-black-color-mud_black: $theme-black-color-black-dreamless-sleep;
//$theme-black-color-riverstone_gray: $theme-black-color-gray-philippine;
//$theme-black-color-asphalt: $theme-black-color-gray-dhusar;
//$theme-black-color-asphalt-with-opacity: rgba($theme-black-color-asphalt, 0.1);