// DEBUG: COMPARE VALUES
// _ This partial define value map for debug using

// Values from last prod before change
$debug-basic-theme-values-map: (
        color-asphalt: #676879,
        color-asphalt-muted: #bdbec7,
        color-asphalt-with-opacity: rgba(103, 104, 121, 0.1),
        color-light_blue: #61caf7,
        color-basic_blue: #0073ea,
        color-basic_light_blue: #c7e6fa,
        color-dark_blue: #0060b9,
        color-link_color: #1f76c2,
        color-snow_white: #ffffff,
        color-snow_white-with-opacity: rgba(255, 255, 255, 0.4),
        color-success: #258750,
        color-success-hover: #007038,
        color-success-highlight: #bbdbc9,
        color-error: #d83a52,
        color-error-hover: #b63546,
        color-error-highlight: #f4c3cb,
        color-placholder_gray: #d8d8d8,
        color-wolf_gray: #c3c6d4,
        color-wolf_gray-with-opacity: rgba(195, 198, 212, 0.1),
        color-mud_black: #323338,
        color-jaco_gray: #9699a6,
        color-black: #000000,
        color-blue_links: #0086c0,
        color-bazooka: #f65f7c,
        color-dark_marble: #f1f1f1,
        color-marble: #f7f7f7,
        color-gainsboro: #e1e1e1,
        color-jeans: #597bfc,
        color-aqua: #00d1d1,
        color-highlight_blue: #cce5ff,
        color-highlight_blue-rgb: (204, 229, 255),
        color-pulse_text_color: #333333,
        color-highlight: #dff0ff,
        color-placeholder_light_gray: #efefef,
        color-scrollbar_gray: #b2b2b2,
        color-timeline_grid_blue: #454662,
        color-timeline_blue: #1c1f3b,
        color-default_group_color: #579bfc,
        color-very_light_gray: #a1a1a1,
        color-pulse_bg: #f0f0f0,
        color-jade: #03c875,
        color-deadline_upcoming_indication: #5d6387,
        color-form_purple: #575c96,
        color-form_btn_hover: #0083d9,
        color-board_views_grey: #6e6f8f,
        color-board_views_blue: #1c1f3b,
        color-board_views_grey_hover: #b2b3d0,
        color-board_views_blue_secondary: #363a52,
        color-brand-blue: #00a9ff,
        color-brand-charcoal: #2b2c5c,
        color-brand-gold: #ffcc00,
        color-brand-green: #11dd80,
        color-brand-iris: #595ad4,
        color-brand-light-blue: #00cff4,
        color-brand-malachite: #00cd6f,
        color-brand-purple: #a358d0,
        color-brand-red: #f74875,
        color-public: #009aff,
        color-private: #f65f7c,
        color-word-blue: #2a5699,
        color-ppt-orange: #d64e2a,
        color-excel-green: #207245,
        color-pdf-red: #bb0706,
        color-zip-orange: #e4901c,
        color-media-blue: #2ea2e9,
        color-surface: #292f4c,
        color-burned_eggplant: #181d37,
        color-live_blue: #009aff,
        color-extra_light_gray: #edeef0,
        color-glitter: #d9f0ff,
        color-ultra_light_gray: #ebebeb,
        color-red_shadow: #e2445c,
        color-green_shadow: #00c875,
        color-storm_gray: #6b6d77,
        color-riverstone_gray: #f6f7fb,
        color-ui_grey: #dcdfec,
        color-ui_grey-muted: #ecedf5,
        color-border_light_gray: #f5f6f8,
        color-like_red: #fb275d,
        color-lime-green: #9cd326,
        color-mustered: #cab641,
        color-dark_red: #bb3354,
        color-trolley-grey: #808080,
        color-dark-purple: #784bd1,
        color-dark-pink: #ff158a,
        color-turquoise: #66ccff,
        color-light-pink: #ff5ac4,
        color-red-shadow: #e2445c,
        color-orange: #fdab3d,
        color-yellow: #ffcb00,
        color-green-shadow: #00c875,
        color-grass-green: #037f4c,
        color-blue-links: #0086c0,
        color-amethyst: #a25ddc,
        color-green-haze: #00a359,
        primary-color: var(--color-basic_blue),
        primary-on-secondary-color: var(--color-basic_blue),
        primary-hover-color: var(--color-dark_blue),
        primary-hover-on-secondary-color: var(--color-dark_blue),
        primary-selected-color: var(--color-highlight_blue),
        primary-selected-color-rgb: var(--color-highlight_blue-rgb),
        primary-selected-on-secondary-color: var(--color-highlight_blue),
        primary-text-color: var(--color-mud_black),
        primary-text-on-secondary-color: var(--color-mud_black),
        text-color-on-primary: var(--color-snow_white),
        text-color-on-primary-with-opacity: var(--color-snow_white-with-opacity),
        primary-background-color: var(--color-snow_white),
        primary-background-color-rgb: (255, 255, 255),
        primary-background-hover-color: var(--color-ui_grey),
        primary-background-hover-on-secondary-color: var(--color-ui_grey),
        grey-background-color: var(--color-riverstone_gray),
        modal-background-color: var(--color-snow_white),
        inverted-color-background: var(--color-mud_black),
        text-color-on-inverted: var(--color-snow_white),
        positive-color: var(--color-success),
        positive-color-hover: var(--color-success-hover),
        positive-color-selected: var(--color-success-highlight),
        negative-color: var(--color-error),
        negative-color-hover: var(--color-error-hover),
        negative-color-selected: var(--color-error-highlight),
        private-color: var(--color-private),
        shareable-color: var(--color-purple),
        ui-border-color: var(--color-wolf_gray),
        ui-border-on-secondary-color: var(--color-wolf_gray),
        layout-border-color: #d0d4e4,
        layout-border-on-secondary-color: #d0d4e4,
        placeholder-color: var(--color-asphalt),
        placeholder-color-with-opacity: var(--color-asphalt-with-opacity),
        placeholder-on-secondary-color: var(--color-asphalt),
        icon-color: var(--color-asphalt),
        icon-on-secondary-color: var(--color-asphalt),
        disabled-background-color: var(--color-ui_grey-muted),
        disabled-background-on-secondary-color: var(--color-ui_grey-muted),
        disabled-text-color: var(--color-asphalt-muted),
        disabled-text-on-secondary-color: var(--color-asphalt-muted),
        dark-background-color: var(--color-riverstone_gray),
        dark-background-on-secondary-color: var(--color-riverstone_gray),
        secondary-background-color: var(--color-snow_white),
        secondary-background-color-rgb: (255, 255, 255),
        dialog-background-color: var(--color-snow_white),
        label-background-color: var(--color-highlight_blue),
        label-background-on-secondary-color: var(--color-highlight_blue),
        secondary-text-color: var(--color-asphalt),
        secondary-text-on-secondary-color: var(--color-asphalt),
        link-color: var(--color-link_color),
        link-on-secondary-color: var(--color-link_color),
);
$debug-dark-theme-values-map: (
        primary-color: var(--color-basic_blue),
        primary-on-secondary-color: var(--color-basic_blue),
        primary-hover-color: #0060b9,
        primary-hover-on-secondary-color: #0060b9,
        primary-selected-color: #133774,
        primary-selected-color-rgb: (19, 55, 116),
        primary-selected-on-secondary-color: #133774,
        primary-text-color: #d5d8df,
        primary-text-on-secondary-color: #d5d8df,
        primary-background-color: #181b34,
        primary-background-color-rgb: (24, 27, 52),
        primary-background-hover-color: #4b4e69,
        primary-background-hover-on-secondary-color: #4b4e69,
        grey-background-color: #181b34,
        inverted-color-background: #ffffff,
        text-color-on-inverted: var(--color-mud_black),
        modal-background-color: #181b34,
        positive-color: var(--color-success),
        positive-color-hover: var(--color-success-hover),
        positive-color-selected: #26503e,
        negative-color: var(--color-error),
        negative-color-hover: var(--color-error-hover),
        negative-color-selected: #642830,
        private-color: var(--color-private),
        shareable-color: #a358df,
        ui-border-color: #797e93,
        ui-border-on-secondary-color: #797e93,
        layout-border-color: #4b4e69,
        layout-border-on-secondary-color: #4b4e69,
        placeholder-color-with-opacity: var(--color-wolf_gray-with-opacity),
        placeholder-on-secondary-color: var(--color-wolf_gray),
        icon-color: var(--color-wolf_gray),
        icon-on-secondary-color: var(--color-wolf_gray),
        disabled-background-color: #3c3f59,
        disabled-background-on-secondary-color: #3c3f59,
        disabled-text-color: #5d6072,
        disabled-text-on-secondary-color: #5d6072,
        dark-background-color: #393b53,
        dark-background-on-secondary-color: #4b4e69,
        secondary-background-color: #30324e,
        secondary-background-color-rgb: (48, 50, 78),
        dialog-background-color: #30324e,
        label-background-color: #404b69,
        label-background-on-secondary-color: #404b69,
        secondary-text-color: var(--color-jaco_gray),
        secondary-text-on-secondary-color: var(--color-jaco_gray),
        link-color: #69a7ef,
        link-on-secondary-color: #69a7ef,
);
$debug-black-theme-values-map: (
        primary-color: var(--color-basic_blue),
        primary-on-secondary-color: var(--color-basic_blue),
        primary-hover-color: #0060b9,
        primary-hover-on-secondary-color: #0060b9,
        primary-selected-color: #133774,
        primary-selected-color-rgb: (19, 55, 116),
        primary-selected-on-secondary-color: #133774,
        primary-text-color: #eeeeee,
        primary-text-on-secondary-color: #eeeeee,
        primary-background-color: #111111,
        primary-background-color-rgb: (17, 17, 17),
        primary-background-hover-color: #636363,
        primary-background-hover-on-secondary-color: #636363,
        grey-background-color: #111111,
        inverted-color-background: #eeeeee,
        text-color-on-inverted: #111111,
        positive-color: var(--color-success),
        positive-color-hover: var(--color-success-hover),
        positive-color-selected: #26503e,
        negative-color: var(--color-error),
        negative-color-hover: var(--color-error-hover),
        negative-color-selected: #642830,
        private-color: var(--color-private),
        shareable-color: #a358df,
        ui-border-color: #8d8d8d,
        ui-border-on-secondary-color: #8d8d8d,
        layout-border-color: #636363,
        layout-border-on-secondary-color: #636363,
        placeholder-color: #aaaaaa,
        placeholder-color-with-opacity: rgba(170, 170, 170, 0.1),
        placeholder-on-secondary-color: #aaaaaa,
        icon-color: #aaaaaa,
        icon-on-secondary-color: #aaaaaa,
        disabled-background-color: #3a3a3a,
        disabled-background-on-secondary-color: #3a3a3a,
        disabled-text-color: #5d5d5d,
        disabled-text-on-secondary-color: #5d5d5d,
        dark-background-color: #2c2c2c,
        dark-background-on-secondary-color: #4b4e69,
        secondary-background-color: #2c2c2c,
        secondary-background-color-rgb: (44, 44, 44),
        dialog-background-color: #2c2c2c,
        label-background-color: #404b69,
        label-background-on-secondary-color: #404b69,
        secondary-text-color: #aaaaaa,
        secondary-text-on-secondary-color: var(--color-jaco_gray),
        link-color: #69a7ef,
        link-on-secondary-color: #69a7ef,
);

// Value from current code
$debug-output-basic-theme: map-collect($theme-basic-settings, $theme-basic-legacy-settings);
$debug-output-dark-theme: map-collect($theme-dark-settings, $theme-dark-legacy-settings);
$debug-output-black-theme: map-collect($theme-black-settings, $theme-black-legacy-settings);

// White list
$debug-basic-theme-white-list: ();
$debug-dark-theme-white-list: ();
$debug-black-theme-white-list: ();