// DEBUG: FLAGS
// - Flag control debug tests: TRUE / FALSE
// -- This is done to improve readability and to check by scopes.

$debug-values: true;
$debug-show-pass: true;
$debug-show-converted: true;
$debug-show-converted-fail: true;

// Themes
$debug-basic-theme: false;
$debug-dark-theme: false;
$debug-black-theme: false;
$debug-hacker-theme: true;

// Scopes
$debug-palette: true;
$debug-legacy-palette: false;
$debug-keys: true;
$debug-legacy-keys: false;

// Example
$debug-example-verify-vibe-keys: false;