$theme-dark-legacy-content-keys: (
        color-done-green-selected-with-opacity: rgba(14, 115, 88, 0.6),
        color-egg_yolk-rgb: (255, 213, 51),
        color-sunset-selected-with-opacity: rgba(141, 74, 88, 0.6)
);
