//

$theme-basic-content-colors: (
        grass_green: $color-grass_green,
        grass_green-hover: $color-grass_green-hover,
        grass_green-selected: $color-grass_green-selected,
        done-green: $color-done-green,
        done-green-hover: $color-done-green-hover,
        done-green-selected:$color-done-green-selected,
        done-green-selected-with-opacity: $color-done-green-selected-with-opacity,
        bright-green: $color-bright-green,
        bright-green-hover: $color-bright-green-hover,
        bright-green-selected: $color-bright-green-selected,
        saladish: $color-saladish,
        saladish-hover: $color-saladish-hover,
        saladish-selected: $color-saladish-selected,
        egg_yolk: $color-egg_yolk,
        egg_yolk-hover: $color-egg_yolk-hover,
        egg_yolk-selected: $color-egg_yolk-selected,
        egg_yolk-rgb: $color-egg_yolk-rgb,
        working_orange: $color-working_orange,
        working_orange-hover: $color-working_orange-hover,
        working_orange-selected: $color-working_orange-selected,
        dark-orange: $color-dark-orange,
        dark-orange-hover: $color-dark-orange-hover,
        dark-orange-selected: $color-dark-orange-selected,
        peach: $color-peach,
        peach-hover: $color-peach-hover,
        peach-selected: $color-peach-selected,
        sunset: $color-sunset,
        sunset-hover: $color-sunset-hover,
        sunset-selected: $color-sunset-selected,
        sunset-selected-with-opacity: $color-sunset-selected-with-opacity,
        stuck-red: $color-stuck-red,
        stuck-red-hover: $color-stuck-red-hover,
        stuck-red-selected: $color-stuck-red-selected,
        dark-red: $color-dark-red,
        dark-red-hover: $color-dark-red-hover,
        dark-red-selected: $color-dark-red-selected,
        sofia_pink: $color-sofia_pink,
        sofia_pink-hover: $color-sofia_pink-hover,
        sofia_pink-selected: $color-sofia_pink-selected,
        lipstick: $color-lipstick,
        lipstick-hover: $color-lipstick-hover,
        lipstick-selected: $color-lipstick-selected,
        bubble: $color-bubble,
        bubble-hover: $color-bubble-hover,
        bubble-selected: $color-bubble-selected,
        purple: $color-purple,
        purple-hover: $color-purple-hover,
        purple-selected: $color-purple-selected,
        dark_purple: $color-dark_purple,
        dark_purple-hover: $color-dark_purple-hover,
        dark_purple-selected: $color-dark_purple-selected,
        berry: $color-berry,
        berry-hover: $color-berry-hover,
        berry-selected: $color-berry-selected,
        dark_indigo: $color-dark_indigo,
        dark_indigo-hover: $color-dark_indigo-hover,
        dark_indigo-selected: $color-dark_indigo-selected,
        indigo: $color-indigo,
        indigo-hover: $color-indigo-hover,
        indigo-selected: $color-indigo-selected,
        navy: $color-navy,
        navy-hover: $color-navy-hover,
        navy-selected: $color-navy-selected,
        bright-blue: $color-bright-blue,
        bright-blue-hover: $color-bright-blue-hover,
        bright-blue-selected: $color-bright-blue-selected,
        dark-blue: $color-dark-blue,
        dark-blue-hover: $color-dark-blue-hover,
        dark-blue-selected: $color-dark-blue-selected,
        aquamarine: $color-aquamarine,
        aquamarine-hover: $color-aquamarine-hover,
        aquamarine-selected: $color-aquamarine-selected,
        chili-blue: $color-chili-blue,
        chili-blue-hover: $color-chili-blue-hover,
        chili-blue-selected: $color-chili-blue-selected,
        river: $color-river,
        river-hover: $color-river-hover,
        river-selected: $color-river-selected,
        winter: $color-winter,
        winter-hover: $color-winter-hover,
        winter-selected: $color-winter-selected,
        explosive: $color-explosive,
        explosive-hover: $color-explosive-hover,
        explosive-selected: $color-explosive-selected,
        american_gray: $color-american_gray,
        american_gray-hover: $color-american_gray-hover,
        american_gray-selected: $color-american_gray-selected,
        blackish: $color-blackish,
        blackish-hover: $color-blackish-hover,
        blackish-selected: $color-blackish-selected,
        brown: $color-brown,
        brown-hover: $color-brown-hover,
        brown-selected: $color-brown-selected,
        orchid: $color-orchid,
        orchid-hover: $color-orchid-hover,
        orchid-selected: $color-orchid-selected,
        tan: $color-tan,
        tan-hover: $color-tan-hover,
        tan-selected: $color-royal-selected,
        sky: $color-sky,
        sky-hover: $color-sky-hover,
        sky-selected: $color-sky-selected,
        coffee: $color-coffee,
        coffee-hover: $color-coffee-hover,
        coffee-selected: $color-coffee-selected,
        royal: $color-royal,
        royal-hover: $color-royal-hover,
        royal-selected: $color-royal-selected,
        teal: $color-teal,
        teal-hover: $color-teal-hover,
        teal-selected: $color-teal-selected,
        lavender: $color-lavender,
        lavender-hover: $color-lavender-hover,
        lavender-selected: $color-lavender-selected,
        steel: $color-steel,
        steel-hover: $color-steel-hover,
        steel-selected: $color-steel-selected,
        lilac: $color-lilac,
        lilac-hover:$color-lilac-hover,
        lilac-selected: $color-lilac-selected,
        pecan: $color-pecan,
        pecan-hover: $color-pecan-hover,
        pecan-selected: $color-pecan-selected,
);
