// BASIC THEME LEGACY KEYS MAP: This partial defines the basic theme's legacy keys color map.
// - Map include legacy keys scope tokens.
// - Its main Purpose is to separate legacy tokens to registration tokens and key tokens.
// - This map is for Key Tokens.
//   - Legacy Key tokens are aliases of registration tokens or content color tokens with a semantic meaning.
// - Map is collected into the $theme-basic-settings map and is interpolated into custom properties.

$theme-basic-legacy-keys: (
        color-private: $color-private,
        color-public: $color-public,
);