// TYPOGRAPHY CLASSES LAYER
.vibe-h1-bold {
  font: var(--font-h1-bold);
  letter-spacing: var(--letter-spacing-h1-bold);
}
.vibe-h1-normal {
  font: var(--font-h1-normal);
  letter-spacing: var(--letter-spacing-h1-normal);
}
.vibe-h1-light {
  font: var(--font-h1-light);
  letter-spacing: var(--letter-spacing-h1-light);
}
.vibe-h2-bold {
  font: var(--font-h1-bold);
  letter-spacing: var(--letter-spacing-h1-bold);
}
.vibe-h2-normal {
  font: var(--font-h1-normal);
  letter-spacing: var(--letter-spacing-h1-normal);
}
.vibe-h2-light {
  font: var(--font-h1-light);
  letter-spacing: var(--letter-spacing-h1-light);
}
.vibe-h3-bold {
  font: var(--font-h1-bold);
  letter-spacing: var(--letter-spacing-h1-bold);
}
.vibe-h3-normal {
  font: var(--font-h1-normal);
  letter-spacing: var(--letter-spacing-h1-normal);
}
.vibe-h3-light {
  font: var(--font-h1-light);
  letter-spacing: var(--letter-spacing-h1-light);
}
.vibe-text1-bold {
  font: var(--font-h1-bold);
  letter-spacing: var(--letter-spacing-h1-bold);
}
.vibe-text1-normal {
  font: var(--font-h1-normal);
  letter-spacing: var(--letter-spacing-h1-normal);
}
.vibe-text2-bold {
  font: var(--font-h1-bold);
  letter-spacing: var(--letter-spacing-h1-bold);
}
.vibe-text2-normal{
  font: var(--font-h1-normal);
  letter-spacing: var(--letter-spacing-h1-normal);
}
