
// Values from last prod before change
$debug-hacker-theme-legacy-keys-map: (


);

// Value from current code
$debug-output-hacker-theme-legacy-keys: $theme-hacker-legacy-keys;

// Custom properties values the equal hard coded values
$debug-hacker-theme-legacy-custom-props-reference: (
);

$debug-hacker-theme-legacy-keys-custom-props-converted:(
);

// White list
$debug-hacker-theme-legacy-keys-white-list: (
);
