// BLACK THEME TOKENS: SEMANTIC KEYS COLORS
// - This partial defines Black Theme's Semantic Keys color tokens

// TODO: Create Registration tokens instead of hard coded assignments.

// List of unique hex values to transform into Registration colors.
// #0060b9 blue primary hover
// #133774 blue primary selected
// #eeeeee natural light
// #111111 natural dark
// #636363 natural medium
// #26503e green positive
// #642830 red negative selected
// #a358df Purple sharable
// #8d8d8d natural medium
// #aaaaaa natural light placeholder
// #2c2c2c Blue Dark background

// primary coloring
$theme-black-primary-color: var(--color-basic_blue);
$theme-black-primary-on-secondary-color: var(--color-basic_blue);
$theme-black-primary-hover-color: #0060b9;
$theme-black-primary-hover-on-secondary-color: $theme-black-primary-hover-color;
$theme-black-primary-selected-color: #133774;
$theme-black-primary-selected-color-rgb: red($theme-black-primary-selected-color), green($theme-black-primary-selected-color), blue($theme-black-primary-selected-color);
$theme-black-primary-selected-on-secondary-color: $theme-black-primary-selected-color;
$theme-black-primary-text-color: #eeeeee; // this should be an item from natural registration when we will have one.
$theme-black-primary-text-on-secondary-color: $theme-black-primary-text-color;
$theme-black-text-color-on-primary: $text-color-on-primary;
$theme-black-text-color-on-primary-with-opacity: $text-color-on-primary-with-opacity;
$theme-black-primary-background-color: #111111; // this should be an item from natural registration when we will have one.
$theme-black-primary-background-color-rgb: red($theme-black-primary-background-color), green($theme-black-primary-background-color), blue($theme-black-primary-background-color);
$theme-black-primary-background-hover-color: #636363;
$theme-black-primary-background-hover-on-secondary-color: $theme-black-primary-background-hover-color;
$theme-black-grey-background-color: $theme-black-primary-background-color; // this should be an item from natural registration when we will have one
$theme-black-modal-background-color: $modal-background-color;

$theme-black-inverted-color-background: $theme-black-primary-text-color; // this should be an item from natural registration when we will have one
$theme-black-text-color-on-inverted: $theme-black-primary-background-color; // this should be an item from natural registration when we will have one

// states
$theme-black-positive-color: $positive-color;
$theme-black-positive-color-hover: $positive-color-hover;
$theme-black-positive-color-selected: #26503e;
$theme-black-negative-color: $negative-color;
$theme-black-negative-color-hover: $negative-color-hover;
$theme-black-negative-color-selected: #642830;
$theme-black-private-color: $private-color;
$theme-black-shareable-color: #a358df;

// borders
$theme-black-ui-border-color: #8d8d8d;
$theme-black-ui-border-on-secondary-color: $theme-black-ui-border-color;
$theme-black-layout-border-color: $theme-black-primary-background-hover-color; // this should be an item from natural registration when we will have one.
$theme-black-layout-border-on-secondary-color: $theme-black-layout-border-color;

$theme-black-placeholder-color: #aaaaaa; // this should be an item from natural registration when we will have one.
$theme-black-placeholder-color-with-opacity: rgba($theme-black-placeholder-color, 0.1);
$theme-black-placeholder-on-secondary-color: $theme-black-placeholder-color;
$theme-black-icon-color: $theme-black-placeholder-color; // this should be an item from natural registration when we will have one.
$theme-black-icon-on-secondary-color: $theme-black-icon-color;

// disabled
$theme-black-disabled-background-color: $theme-black-primary-background-hover-color; // this should be an item from natural registration when we will have one.
$theme-black-disabled-background-on-secondary-color: $theme-black-disabled-background-color;
$theme-black-disabled-text-color: $theme-black-placeholder-color; // this should be an item from natural registration when we will have one.
$theme-black-disabled-text-on-secondary-color: $theme-black-disabled-text-color;

$theme-black-dark-background-color: #2c2c2c;
$theme-black-dark-background-on-secondary-color: var(--color-riverstone_gray);
$theme-black-secondary-background-color: $theme-black-dark-background-color;
$theme-black-secondary-background-color-rgb: red($theme-black-secondary-background-color), green($theme-black-secondary-background-color), blue($theme-black-secondary-background-color);

//deprecated - use secondary-background-color
$theme-black-dialog-background-color: $theme-black-dark-background-color;

$theme-black-label-background-color: var(--color-highlight_blue);
$theme-black-label-background-on-secondary-color: var(--color-highlight_blue);
$theme-black-secondary-text-color: var(--color-asphalt);
$theme-black-secondary-text-on-secondary-color: var(--color-asphalt);
$theme-black-link-color: var(--color-link_color);
$theme-black-link-on-secondary-color: var(--color-link_color);

$theme-black-shadow-color: #000000;
$theme-black-shadow-small: $shadow-size-small rgba($theme-black-shadow-color, $shadow-opacity);
$theme-black-shadow-medium: $shadow-size-medium rgba($theme-black-shadow-color, $shadow-opacity);
$theme-black-shadow-large: $shadow-size-large rgba($theme-black-shadow-color, $shadow-large-opacity);
$theme-black-shadow-mediun: $theme-black-shadow-medium;