// DARK THEME KEYS

// DARK THEME COLOR KEYS MAP: dark theme's keys color map.
// - Map include semantic color keys scope tokens.
// - Map is collected into the $theme-dark-settings map and is interpolated into custom properties.

$theme-dark-keys: (
        primary-color: $dark-theme-primary-color,
        primary-hover-color: $dark-theme-primary-hover-color,
        primary-selected-color: $dark-theme-primary-selected-color,
        primary-text-color: $dark-theme-primary-text-color,
        text-color-on-primary: $dark-theme-text-color-on-primary,
        text-color-on-inverted: $dark-theme-text-color-on-inverted,
        secondary-text-color: $dark-theme-secondary-text-color,
        placeholder-color: $dark-theme-placeholder-color,
        icon-color: $dark-theme-icon-color,
        link-color: $dark-theme-link-color,
        primary-background-color: $dark-theme-primary-background-color,
        primary-background-hover-color: $dark-theme-primary-background-hover-color,
        secondary-background-color: $dark-theme-secondary-background-color,
        grey-background-color: $dark-theme-grey-background-color,
        allgrey-background-color: $dark-theme-allgrey-background-color,
        inverted-color-background: $dark-theme-inverted-color-background,
        disabled-text-color: $dark-theme-disabled-text-color,
        disabled-background-color: $dark-theme-disabled-background-color,
        positive-color: $dark-theme-positive-color,
        positive-color-hover: $dark-theme-positive-color-hover,
        positive-color-selected: $dark-theme-positive-color-selected,
        negative-color: $dark-theme-negative-color,
        negative-color-hover: $dark-theme-negative-color-hover,
        negative-color-selected: $dark-theme-negative-color-selected,
        private-color: $dark-theme-private-color,
        shareable-color: $dark-theme-shareable-color,
        ui-border-color: $dark-theme-ui-border-color,
        layout-border-color: $dark-theme-layout-border-color,
);


// DARK THEME SHADOW MAP: dark theme's shadow color map.
// - Map include shadow scope tokens.
// - Map is collected into the $theme-dark-settings map and is interpolated into custom properties.

$theme-dark-shadow-keys: (
        box-shadow-xs: $dark-theme-box-shadow-xs,
        box-shadow-small: $dark-theme-box-shadow-small,
        box-shadow-medium: $dark-theme-box-shadow-medium,
        box-shadow-large: $dark-theme-box-shadow-large,
);