// CORE SHADOW MAPs: This partial defines shadow related maps.
// - Maps include shadow scope tokens.
// - These maps are currently not interpolated into custom properties.

$core-shadow: (
        small: $shadow-size-small,
        medium: $shadow-size-medium,
        large: $shadow-size-large,
        mediun: var(--box-shadow-medium)
);

$core-shadow-opacity: (
        opacity: $shadow-opacity,
        lg-opacity: $shadow-large-opacity,
);
