//

$core-spacing: (
        xs: $spacing-xs,
        small:$spacing-small,
        medium: $spacing-medium,
        large: $spacing-large,
        xl: $spacing-xl,
        xxl: $spacing-xxl,
        xxxl: $spacing-xxxl,
);
