//

$core-spacing: (
        spacing-xs: $spacing-xs,
        spacing-small:$spacing-small,
        spacing-medium: $spacing-medium,
        spacing-large: $spacing-large,
        spacing-xl: $spacing-xl,
        spacing-xxl: $spacing-xxl,
        spacing-xxxl: $spacing-xxxl,
);
