// HACKER THEME KEYS

// HACKER THEME COLOR KEYS MAP: hacker theme's keys color map.
// - Map include semantic color keys scope tokens.
// - Map is collected into the $theme-hacker-settings map and is interpolated into custom properties.

$theme-hacker-keys: (
        primary-color: $hacker-theme-primary-color,
        primary-hover-color: $hacker-theme-primary-hover-color,
        primary-selected-color: $hacker-theme-primary-selected-color,
        primary-text-color: $hacker-theme-primary-text-color,
        text-color-on-inverted: $hacker-theme-text-color-on-inverted,
        secondary-text-color: $hacker-theme-secondary-text-color,
        placeholder-color: $hacker-theme-placeholder-color,
        icon-color: $hacker-theme-icon-color,
        link-color: $hacker-theme-link-color,
        primary-background-color: $hacker-theme-primary-background-color,
        primary-background-hover-color: $hacker-theme-primary-background-hover-color,
        secondary-background-color: $hacker-theme-secondary-background-color,
        grey-background-color: $hacker-theme-grey-background-color,
        allgrey-background-color: $hacker-theme-allgrey-background-color,
        inverted-color-background: $hacker-theme-inverted-color-background,
        disabled-text-color: $hacker-theme-disabled-text-color,
        disabled-background-color: $hacker-theme-disabled-background-color,
        positive-color: $hacker-theme-positive-color,
        positive-color-hover: $hacker-theme-positive-color-hover,
        positive-color-selected: $hacker-theme-positive-color-selected,
        negative-color: $hacker-theme-negative-color,
        negative-color-hover: $hacker-theme-negative-color-hover,
        negative-color-selected: $hacker-theme-negative-color-selected,
        private-color: $hacker-theme-private-color,
        shareable-color: $hacker-theme-shareable-color,
        ui-border-color: $hacker-theme-ui-border-color,
        layout-border-color: $hacker-theme-layout-border-color,
);


// DARK THEME SHADOW MAP: dark theme's shadow color map.
// - Map include shadow scope tokens.
// - Map is collected into the $theme-hacker-settings map and is interpolated into custom properties.

$theme-hacker-shadow-keys: (
        box-shadow-xs: $hacker-theme-box-shadow-xs,
        box-shadow-small: $hacker-theme-box-shadow-small,
        box-shadow-medium: $hacker-theme-box-shadow-medium,
        box-shadow-large: $hacker-theme-box-shadow-large,
);