$theme-hacker-content-keys: (
        color-grass_green: $hacker-theme-content-color-grass_green,
        color-grass_green-hover: $hacker-theme-content-color-grass_green-hover,
        color-grass_green-selected: $hacker-theme-content-color-grass_green-selected,
        color-done-green: $hacker-theme-content-color-done_green,
        color-done-green-hover: $hacker-theme-content-color-done_green-hover,
        color-done-green-selected: $hacker-theme-content-color-done_green-selected,
        color-bright-green: $hacker-theme-content-color-bright_green,
        color-bright-green-hover: $hacker-theme-content-color-bright_green-hover,
        color-bright-green-selected: $hacker-theme-content-color-bright_green-selected,
        color-saladish: $hacker-theme-content-color-saladish,
        color-saladish-hover: $hacker-theme-content-color-saladish-hover,
        color-saladish-selected: $hacker-theme-content-color-saladish-selected,
        color-egg_yolk: $hacker-theme-content-color-egg_yolk,
        color-egg_yolk-hover: $hacker-theme-content-color-egg_yolk-hover,
        color-egg_yolk-selected: $hacker-theme-content-color-egg_yolk-selected,
        color-working_orange: $hacker-theme-content-color-working_orange,
        color-working_orange-hover: $hacker-theme-content-color-working_orange-hover,
        color-working_orange-selected: $hacker-theme-content-color-working_orange-selected,
        color-dark-orange: $hacker-theme-content-color-dark_orange,
        color-dark-orange-hover: $hacker-theme-content-color-dark_orange-hover,
        color-dark-orange-selected: $hacker-theme-content-color-dark_orange-selected,
        color-peach: $hacker-theme-content-color-peach,
        color-peach-hover: $hacker-theme-content-color-peach-hover,
        color-peach-selected: $hacker-theme-content-color-peach-selected,
        color-sunset: $hacker-theme-content-color-sunset,
        color-sunset-hover: $hacker-theme-content-color-sunset-hover,
        color-sunset-selected: $hacker-theme-content-color-sunset-selected,
        color-stuck-red: $hacker-theme-content-color-stuck-red,
        color-stuck-red-hover: $hacker-theme-content-color-stuck-red-hover,
        color-stuck-red-selected: $hacker-theme-content-color-stuck-red-selected,
        color-dark-red: $hacker-theme-content-color-dark-red,
        color-dark-red-hover: $hacker-theme-content-color-dark-red-hover,
        color-dark-red-selected: $hacker-theme-content-color-dark-red-selected,
        color-sofia_pink: $hacker-theme-content-color-sofia_pink,
        color-sofia_pink-hover: $hacker-theme-content-color-sofia_pink-hover,
        color-sofia_pink-selected: $hacker-theme-content-color-sofia_pink-selected,
        color-lipstick: $hacker-theme-content-color-lipstick,
        color-lipstick-hover: $hacker-theme-content-color-lipstick-hover,
        color-lipstick-selected: $hacker-theme-content-color-lipstick-selected,
        color-bubble: $hacker-theme-content-color-bubble,
        color-bubble-hover: $hacker-theme-content-color-bubble-hover,
        color-bubble-selected: $hacker-theme-content-color-bubble-selected,
        color-purple: $hacker-theme-content-color-purple,
        color-purple-hover: $hacker-theme-content-color-purple-hover,
        color-purple-selected: $hacker-theme-content-color-purple-selected,
        color-dark_purple: $hacker-theme-content-color-dark-purple,
        color-dark_purple-hover: $hacker-theme-content-color-dark-purple-hover,
        color-dark_purple-selected: $hacker-theme-content-color-dark-purple-selected,
        color-berry: $hacker-theme-content-color-berry,
        color-berry-hover: $hacker-theme-content-color-berry-hover,
        color-berry-selected: $hacker-theme-content-color-berry-selected,
        color-dark_indigo: $hacker-theme-content-color-dark_indigo,
        color-dark_indigo-hover: $hacker-theme-content-color-dark_indigo-hover,
        color-dark_indigo-selected: $hacker-theme-content-color-dark_indigo-selected,
        color-indigo: $hacker-theme-content-color-indigo,
        color-indigo-hover: $hacker-theme-content-color-indigo-hover,
        color-indigo-selected: $hacker-theme-content-color-indigo-selected,
        color-navy: $hacker-theme-content-color-navy,
        color-navy-hover: $hacker-theme-content-color-navy-hover,
        color-navy-selected: $hacker-theme-content-color-navy-selected,
        color-bright-blue: $hacker-theme-content-color-bright-blue,
        color-bright-blue-hover: $hacker-theme-content-color-bright-blue-hover,
        color-bright-blue-selected:$hacker-theme-content-color-bright-blue-selected,
        color-dark-blue: $hacker-theme-content-color-dark-blue,
        color-dark-blue-hover: $hacker-theme-content-color-dark-blue-hover,
        color-dark-blue-selected: $hacker-theme-content-color-dark-blue-selected,
        color-aquamarine: $hacker-theme-content-color-aquamarine,
        color-aquamarine-hover: $hacker-theme-content-color-aquamarine-hover,
        color-aquamarine-selected: $hacker-theme-content-color-aquamarine-selected,
        color-chili-blue: $hacker-theme-content-color-chili-blue,
        color-chili-blue-hover: $hacker-theme-content-color-chili-blue-hover,
        color-chili-blue-selected: $hacker-theme-content-color-chili-blue-selected,
        color-river: $hacker-theme-content-color-river,
        color-river-hover: $hacker-theme-content-color-river-hover,
        color-river-selected: $hacker-theme-content-color-river-selected,
        color-winter: $hacker-theme-content-color-winter,
        color-winter-hover: $hacker-theme-content-color-winter-hover,
        color-winter-selected: $hacker-theme-content-color-winter-selected,
        color-explosive: $hacker-theme-content-color-explosive,
        color-explosive-hover: $hacker-theme-content-color-explosive-hover,
        color-explosive-selected: $hacker-theme-content-color-explosive-selected,
        color-american_gray: $hacker-theme-content-color-american_gray,
        color-american_gray-hover: $hacker-theme-content-color-american_gray-hover,
        color-american_gray-selected: $hacker-theme-content-color-american_gray-selected,
        color-blackish: $hacker-theme-content-color-blackfish,
        color-blackish-hover: $hacker-theme-content-color-blackfish-hover,
        color-blackish-selected: $hacker-theme-content-color-blackfish-selected,
        color-brown: $hacker-theme-content-color-brown,
        color-brown-hover: $hacker-theme-content-color-brown-hover,
        color-brown-selected: $hacker-theme-content-color-brown-selected,
        color-orchid: $hacker-theme-content-color-orchid,
        color-orchid-hover: $hacker-theme-content-color-orchid-hover,
        color-orchid-selected: $hacker-theme-content-color-orchid-selected,
        color-tan: $hacker-theme-content-color-tan,
        color-tan-hover: $hacker-theme-content-color-tan-hover,
        color-tan-selected: $hacker-theme-content-color-tan-selected,
        color-sky: $hacker-theme-content-color-sky,
        color-sky-hover: $hacker-theme-content-color-sky-hover,
        color-sky-selected: $hacker-theme-content-color-sky-selected,
        color-coffee: $hacker-theme-content-color-coffee,
        color-coffee-hover: $hacker-theme-content-color-coffee-hover,
        color-coffee-selected: $hacker-theme-content-color-coffee-selected,
        color-royal: $hacker-theme-content-color-royal,
        color-royal-hover: $hacker-theme-content-color-royal-hover,
        color-royal-selected: $hacker-theme-content-color-royal-selected,
        color-teal: $hacker-theme-content-color-teal,
        color-teal-hover: $hacker-theme-content-color-teal-hover,
        color-teal-selected: $hacker-theme-content-color-teal-selected,
        color-lavender: $hacker-theme-content-color-lavender,
        color-lavender-hover: $hacker-theme-content-color-lavender-hover,
        color-lavender-selected: $hacker-theme-content-color-lavender-selected,
        color-steel: $hacker-theme-content-color-steel,
        color-steel-hover: $hacker-theme-content-color-steel-hover,
        color-steel-selected: $hacker-theme-content-color-steel-selected,
        color-lilac: $hacker-theme-content-color-lilac,
        color-lilac-hover: $hacker-theme-content-color-lilac-hover,
        color-lilac-selected: $hacker-theme-content-color-lilac-selected,
        color-pecan: $hacker-theme-content-color-pecan,
        color-pecan-hover: $hacker-theme-content-color-pecan-hover,
        color-pecan-selected: $hacker-theme-content-color-pecan-selected
);
