$core-legacy-motion-map: (
        animation-productive-short: $animation-productive-short,
        animation-productive-medium: $animation-productive-medium,
        animation-productive-long: $animation-productive-long,
        animation-expressive-short: $animation-expressive-short,
        animation-expressive-long: $animation-expressive-long,
        animation-timing-enter: $animation-timing-enter,
        animation-timing-exit: $animation-timing-exit,
        animation-timing-transition: $animation-timing-transition,
        animation-timing-emphasize: $animation-timing-emphasize,
);