$theme-basic-legacy-content-keys: (
        color-done-green-selected-with-opacity: rgba(128, 227, 186, 0.6),
        color-egg_yolk-rgb: (255, 213, 51),
        color-sunset-selected-with-opacity: rgba(255, 186, 186, 0.6)
);
