// BLACK THEME TOKENS: SHADOWS
// - This partial defines Basic Theme's shadow tokens

$theme-black-box-shadow-color: $color-black;

$theme-black-box-shadow-small: $shadow-size-small $theme-black-box-shadow-color;
$theme-black-box-shadow-medium: $shadow-size-medium $theme-black-box-shadow-color;
$theme-black-box-shadow-large: $shadow-size-large $theme-black-box-shadow-color;

// legacy
$theme-black-box-shadow-mediun: var(--box-shadow-medium);
