.monday-storybook-intro {
  margin-bottom: var(--sb-spacing-medium);
  font-family: var(--sb-title-font-family);
  color: var(--sb-primary-text-color);
  font-size: var(--sb-font-size-h2);
  line-height: 28px;
  letter-spacing: -0.21px;
  text-align: left;
  font-weight: 300;
}
