//  HACKER THEME TOKENS: CONTENT COLORS
// - This partial defines Dark Theme's content color tokens

// Sort order by design definitions.

// Teal
$theme-hacker-color-content-teal: $theme-black-color-content-teal;
$theme-hacker-color-content-teal-hover: $theme-black-color-content-teal-hover;
$theme-hacker-color-content-teal-selected: $theme-black-color-content-teal-selected;

// green grass
$theme-hacker-color-content-grass_green: $theme-black-color-content-grass_green;
$theme-hacker-color-content-grass_green-hover: $theme-black-color-content-grass_green-hover;
$theme-hacker-color-content-grass_green-selected: $theme-black-color-content-grass_green-selected;

// done green
$theme-hacker-color-content-done-green: $theme-black-color-content-done-green;
$theme-hacker-color-content-done-green-hover: $theme-black-color-content-done-green-hover;
$theme-hacker-color-content-done-green-selected: $theme-black-color-content-done-green-selected;
$theme-hacker-color-content-done-green-selected-with-opacity: rgba($theme-hacker-color-content-done-green-selected, 0.6);

// Bright Green
$theme-hacker-color-content-bright-green: $theme-black-color-content-bright-green;
$theme-hacker-color-content-bright-green-hover: $theme-black-color-content-bright-green-hover;
$theme-hacker-color-content-bright-green-selected: $theme-black-color-content-bright-green-selected;

// Saladish
$theme-hacker-color-content-saladish: $theme-black-color-content-saladish;
$theme-hacker-color-content-saladish-hover: $theme-black-color-content-saladish-hover;
$theme-hacker-color-content-saladish-selected: $theme-black-color-content-saladish-selected;

// Egg Yolk
$theme-hacker-color-content-egg_yolk: $theme-black-color-content-egg_yolk;
$theme-hacker-color-content-egg_yolk-hover: $theme-black-color-content-egg_yolk-hover;
$theme-hacker-color-content-egg_yolk-selected: $theme-black-color-content-egg_yolk-selected;
$theme-hacker-color-content-egg_yolk-rgb: extract-rgb($theme-hacker-color-content-egg_yolk);

// Working on it
$theme-hacker-color-content-working_orange: $theme-black-color-content-working_orange;
$theme-hacker-color-content-working_orange-hover: $theme-black-color-content-working_orange-hover;
$theme-hacker-color-content-working_orange-selected: $theme-black-color-content-working_orange-selected;

// Dark orange
$theme-hacker-color-content-dark-orange: $theme-black-color-content-dark-orange;
$theme-hacker-color-content-dark-orange-hover: $theme-black-color-content-dark-orange-hover;
$theme-hacker-color-content-dark-orange-selected: $theme-black-color-content-dark-orange-selected;

// Peach Color
$theme-hacker-color-content-peach: $theme-black-color-content-peach;
$theme-hacker-color-content-peach-hover: $theme-black-color-content-peach-hover;
$theme-hacker-color-content-peach-selected: $theme-black-color-content-peach-selected;

// Sunset Color
$theme-hacker-color-content-sunset: $theme-black-color-content-sunset;
$theme-hacker-color-content-sunset-hover: $theme-black-color-content-sunset-hover;
$theme-hacker-color-content-sunset-selected: $theme-black-color-content-sunset-selected;
$theme-hacker-color-content-sunset-selected-with-opacity: rgba($theme-hacker-color-content-sunset-selected, 0.6);

// Stuck red
$theme-hacker-color-content-stuck-red: $theme-black-color-content-stuck-red;
$theme-hacker-color-content-stuck-red-hover: $theme-black-color-content-stuck-red-hover;
$theme-hacker-color-content-stuck-red-selected: $theme-black-color-content-stuck-red-selected;

// Dark red
$theme-hacker-color-content-dark-red: $theme-black-color-content-dark-red;
$theme-hacker-color-content-dark-red-hover: $theme-black-color-content-dark-red-hover;
$theme-hacker-color-content-dark-red-selected: $theme-black-color-content-dark-red-selected;

// Sofia
$theme-hacker-color-content-sofia_pink: $theme-black-color-content-sofia_pink;
$theme-hacker-color-content-sofia_pink-hover: $theme-black-color-content-sofia_pink-hover;
$theme-hacker-color-content-sofia_pink-selected: $theme-black-color-content-sofia_pink-selected;

// Lipstick color
$theme-hacker-color-content-lipstick: $theme-black-color-content-lipstick;
$theme-hacker-color-content-lipstick-hover: $theme-black-color-content-lipstick-hover;
$theme-hacker-color-content-lipstick-selected: $theme-black-color-content-lipstick-selected;

// Bubble
$theme-hacker-color-content-bubble: $theme-black-color-content-bubble;
$theme-hacker-color-content-bubble-hover: $theme-black-color-content-bubble-hover;
$theme-hacker-color-content-bubble-selected: $theme-black-color-content-bubble-selected;

// Orchid
$theme-hacker-color-content-orchid: $theme-black-color-content-orchid;
$theme-hacker-color-content-orchid-hover: $theme-black-color-content-orchid-hover;
$theme-hacker-color-content-orchid-selected: $theme-black-color-content-orchid-selected;

// Purple
$theme-hacker-color-content-purple: $theme-black-color-content-purple;
$theme-hacker-color-content-purple-hover: $theme-black-color-content-purple-hover;
$theme-hacker-color-content-purple-selected: $theme-black-color-content-purple-selected;

// Dark purple
$theme-hacker-color-content-dark_purple: $theme-black-color-content-dark_purple;
$theme-hacker-color-content-dark_purple-hover: $theme-black-color-content-dark_purple-hover;
$theme-hacker-color-content-dark_purple-selected: $theme-black-color-content-dark_purple-selected;

// Lavender
$theme-hacker-color-content-lavender: $theme-black-color-content-lavender;
$theme-hacker-color-content-lavender-hover: $theme-black-color-content-lavender-hover;
$theme-hacker-color-content-lavender-selected: $theme-black-color-content-lavender-selected;

// Berry
$theme-hacker-color-content-berry: $theme-black-color-content-berry;
$theme-hacker-color-content-berry-hover: $theme-black-color-content-berry-hover;
$theme-hacker-color-content-berry-selected: $theme-black-color-content-berry-selected;

// Dark indigo
$theme-hacker-color-content-dark_indigo: $theme-black-color-content-dark_indigo;
$theme-hacker-color-content-dark_indigo-hover: $theme-black-color-content-dark_indigo-hover;
$theme-hacker-color-content-dark_indigo-selected: $theme-black-color-content-dark_indigo-selected;

// Indigo
$theme-hacker-color-content-indigo: $theme-black-color-content-indigo;
$theme-hacker-color-content-indigo-hover: $theme-black-color-content-indigo-hover;
$theme-hacker-color-content-indigo-selected: $theme-black-color-content-indigo-selected;

// Lilac
$theme-hacker-color-content-lilac: $theme-black-color-content-lilac;
$theme-hacker-color-content-lilac-hover: $theme-black-color-content-lilac-hover;
$theme-hacker-color-content-lilac-selected: $theme-black-color-content-lilac-selected;

// Steel
$theme-hacker-color-content-steel: $theme-black-color-content-steel;
$theme-hacker-color-content-steel-hover: $theme-black-color-content-steel-hover;
$theme-hacker-color-content-steel-selected: $theme-black-color-content-steel-selected;

// Navy
$theme-hacker-color-content-navy: $theme-black-color-content-navy;
$theme-hacker-color-content-navy-hover: $theme-black-color-content-navy-hover;
$theme-hacker-color-content-navy-selected: $theme-black-color-content-navy-selected;

// Royal
$theme-hacker-color-content-royal: $theme-black-color-content-royal;
$theme-hacker-color-content-royal-hover: $theme-black-color-content-royal-hover;
$theme-hacker-color-content-royal-selected: $theme-black-color-content-royal-selected;

// Light Blue
$theme-hacker-color-content-bright-blue: $theme-black-color-content-bright-blue;
$theme-hacker-color-content-bright-blue-hover: $theme-black-color-content-bright-blue-hover;
$theme-hacker-color-content-bright-blue-selected: $theme-black-color-content-bright-blue-selected;

// Chili Blue
$theme-hacker-color-content-chili-blue: $theme-black-color-content-chili-blue;
$theme-hacker-color-content-chili-blue-hover: $theme-black-color-content-chili-blue-hover;
$theme-hacker-color-content-chili-blue-selected: $theme-black-color-content-chili-blue-selected;

// Sky
$theme-hacker-color-content-sky: $theme-black-color-content-sky;
$theme-hacker-color-content-sky-hover: $theme-black-color-content-sky-hover;
$theme-hacker-color-content-sky-selected: $theme-black-color-content-sky-selected;

// Dark blue
$theme-hacker-color-content-dark-blue: $theme-black-color-content-dark-blue;
$theme-hacker-color-content-dark-blue-hover: $theme-black-color-content-dark-blue-hover;
$theme-hacker-color-content-dark-blue-selected: $theme-black-color-content-dark-blue-selected;

// Aquamarine
$theme-hacker-color-content-aquamarine: $theme-black-color-content-aquamarine;
$theme-hacker-color-content-aquamarine-hover: $theme-black-color-content-aquamarine-hover;
$theme-hacker-color-content-aquamarine-selected: $theme-black-color-content-aquamarine-selected;

// River
$theme-hacker-color-content-river: $theme-black-color-content-river;
$theme-hacker-color-content-river-hover: $theme-black-color-content-river-hover;
$theme-hacker-color-content-river-selected: $theme-black-color-content-river-selected;

// winter
$theme-hacker-color-content-winter: $theme-black-color-content-winter;
$theme-hacker-color-content-winter-hover: $theme-black-color-content-winter-hover;
$theme-hacker-color-content-winter-selected: $theme-black-color-content-winter-selected;

// Explosive
$theme-hacker-color-content-explosive: $theme-black-color-content-explosive;
$theme-hacker-color-content-explosive-hover: $theme-black-color-content-explosive-hover;
$theme-hacker-color-content-explosive-selected: $theme-black-color-content-explosive-selected;

// American Grey
$theme-hacker-color-content-american_gray: $theme-black-color-content-american_gray;
$theme-hacker-color-content-american_gray-hover: $theme-black-color-content-american_gray-hover;
$theme-hacker-color-content-american_gray-selected: $theme-black-color-content-american_gray-selected;

// Blackish
$theme-hacker-color-content-blackish: $theme-black-color-content-blackish;
$theme-hacker-color-content-blackish-hover: $theme-black-color-content-blackish-hover;
$theme-hacker-color-content-blackish-selected: $theme-black-color-content-blackish-selected;

// Pecan
$theme-hacker-color-content-pecan: $theme-black-color-content-pecan;
$theme-hacker-color-content-pecan-hover: $theme-black-color-content-pecan-hover;
$theme-hacker-color-content-pecan-selected: $theme-black-color-content-pecan-selected;

// Brown
$theme-hacker-color-content-brown: $theme-black-color-content-brown;
$theme-hacker-color-content-brown-hover: $theme-black-color-content-brown-hover;
$theme-hacker-color-content-brown-selected: $theme-black-color-content-brown-selected;

// Coffee
$theme-hacker-color-content-coffee: $theme-black-color-content-coffee;
$theme-hacker-color-content-coffee-hover: $theme-black-color-content-coffee-hover;
$theme-hacker-color-content-coffee-selected: $theme-black-color-content-coffee-selected;

// Tan
$theme-hacker-color-content-tan: $theme-black-color-content-tan;
$theme-hacker-color-content-tan-hover: $theme-black-color-content-tan-hover;
$theme-hacker-color-content-tan-selected: $theme-black-color-content-tan-selected;
