// BLACK THEME COLOR KEYS MAP: This partial defines the black theme's keys color map.
// - Map include semantic color keys scope tokens.
// - Map is collected into the $theme-black-settings map and is interpolated into custom properties.

$theme-black-keys: (
        primary-color: $theme-black-primary-color,
        primary-on-secondary-color: $theme-black-primary-on-secondary-color,
        primary-hover-color: $theme-black-primary-hover-color,
        primary-hover-on-secondary-color:$theme-black-primary-hover-on-secondary-color,
        primary-selected-color: $theme-black-primary-selected-color,
        primary-selected-color-rgb: $theme-black-primary-selected-color-rgb,
        primary-selected-on-secondary-color: $theme-black-primary-selected-on-secondary-color,
        primary-text-color: $theme-black-primary-text-color,
        primary-text-on-secondary-color: $theme-black-primary-selected-on-secondary-color,
        primary-background-color: $theme-black-primary-background-color,
        primary-background-color-rgb: $theme-black-primary-background-color-rgb,
        primary-background-hover-color: $theme-black-primary-background-hover-color,
        primary-background-hover-on-secondary-color: $theme-black-primary-background-hover-on-secondary-color,
        grey-background-color:$theme-black-grey-background-color,
        inverted-color-background: $theme-black-inverted-color-background,
        text-color-on-inverted: $theme-black-text-color-on-inverted,
        positive-color: $theme-black-positive-color,
        positive-color-hover: $theme-black-positive-color-hover,
        positive-color-selected: $theme-black-positive-color-selected,
        negative-color: $theme-black-negative-color,
        negative-color-hover: $theme-black-negative-color-hover,
        negative-color-selected: $theme-black-negative-color-selected,
        private-color: $theme-black-private-color,
        shareable-color: $theme-black-shareable-color,
        ui-border-color: $theme-black-ui-border-color,
        ui-border-on-secondary-color: $theme-black-ui-border-on-secondary-color,
        layout-border-color: $theme-black-layout-border-color,
        layout-border-on-secondary-color: $theme-black-layout-border-on-secondary-color,
        placeholder-color: $theme-black-placeholder-color,
        placeholder-color-with-opacity: $theme-black-placeholder-color-with-opacity,
        placeholder-on-secondary-color: $theme-black-placeholder-on-secondary-color,
        icon-color: $theme-black-icon-color,
        icon-on-secondary-color: $theme-black-icon-on-secondary-color,
        disabled-background-color: $theme-black-disabled-background-color,
        disabled-background-on-secondary-color: $theme-black-disabled-background-on-secondary-color,
        disabled-text-color: $theme-black-disabled-text-color,
        disabled-text-on-secondary-color:$theme-black-disabled-text-on-secondary-color,
        dark-background-color: $theme-black-dark-background-color,
        dark-background-on-secondary-color: $theme-black-dark-background-on-secondary-color,
        secondary-background-color: $theme-black-secondary-background-color,
        secondary-background-color-rgb: $theme-black-secondary-background-color-rgb,
        dialog-background-color: $theme-black-dialog-background-color,
        label-background-color: $theme-black-label-background-color,
        label-background-on-secondary-color: $theme-black-label-background-on-secondary-color,
        secondary-text-color: $theme-black-secondary-text-color,
        secondary-text-on-secondary-color:$theme-black-secondary-text-on-secondary-color,
        link-color: $theme-black-link-on-secondary-color,
        link-on-secondary-color: $theme-black-link-on-secondary-color,
);
