// HACKER THEME COLOR KEYS MAP: This partial defines the hacker theme's keys color map.
// - Map include semantic color keys scope tokens.
// - Map is collected into the $theme-hacker-settings map and is interpolated into custom properties.

$theme-hacker-keys: (
        primary-color: $theme-hacker-primary-color,
        primary-on-secondary-color: $theme-hacker-primary-on-secondary-color,
        primary-hover-color: $theme-hacker-primary-hover-color,
        primary-hover-on-secondary-color:$theme-hacker-primary-hover-on-secondary-color,
        primary-selected-color: $theme-hacker-primary-selected-color,
        primary-selected-color-rgb: $theme-hacker-primary-selected-color-rgb,
        primary-selected-on-secondary-color: $theme-hacker-primary-selected-on-secondary-color,
        primary-text-color: $theme-hacker-primary-text-color,
        primary-text-on-secondary-color: $theme-hacker-primary-text-on-secondary-color,
        primary-background-color: $theme-hacker-primary-background-color,
        primary-background-color-rgb: $theme-hacker-primary-background-color-rgb,
        primary-background-hover-color: $theme-hacker-primary-background-hover-color,
        primary-background-hover-on-secondary-color: $theme-hacker-primary-background-hover-on-secondary-color,
        grey-background-color:$theme-hacker-grey-background-color,
        modal-background-color: $theme-hacker-modal-background-color,
        inverted-color-background: $theme-hacker-inverted-color-background,
        text-color-on-inverted: $theme-hacker-text-color-on-inverted,
        positive-color: $theme-hacker-positive-color,
        positive-color-hover: $theme-hacker-positive-color-hover,
        positive-color-selected: $theme-hacker-positive-color-selected,
        negative-color: $theme-hacker-negative-color,
        negative-color-hover: $theme-hacker-negative-color-hover,
        negative-color-selected: $theme-hacker-negative-color-selected,
        private-color: $theme-hacker-private-color,
        shareable-color: $theme-hacker-shareable-color,
        ui-border-color: $theme-hacker-ui-border-color,
        ui-border-on-secondary-color: $theme-hacker-ui-border-on-secondary-color,
        layout-border-color: $theme-hacker-layout-border-color,
        layout-border-on-secondary-color: $theme-hacker-layout-border-on-secondary-color,
        placeholder-color: $theme-hacker-placeholder-color,
        placeholder-color-with-opacity: $theme-hacker-placeholder-color-with-opacity,
        placeholder-on-secondary-color: $theme-hacker-placeholder-on-secondary-color,
        icon-color: $theme-hacker-icon-color,
        icon-on-secondary-color: $theme-hacker-icon-on-secondary-color,
        disabled-background-color: $theme-hacker-disabled-background-color,
        disabled-background-on-secondary-color: $theme-hacker-disabled-background-on-secondary-color,
        disabled-text-color: $theme-hacker-disabled-text-color,
        disabled-text-on-secondary-color:$theme-hacker-disabled-text-on-secondary-color,
        dark-background-color: $theme-hacker-dark-background-color,
        dark-background-on-secondary-color: $theme-hacker-dark-background-on-secondary-color,
        secondary-background-color: $theme-hacker-secondary-background-color,
        secondary-background-color-rgb: $theme-hacker-secondary-background-color-rgb,
        dialog-background-color: $theme-hacker-dialog-background-color,
        label-background-color: $theme-hacker-label-background-color,
        label-background-on-secondary-color: $theme-hacker-label-background-on-secondary-color,
        secondary-text-color: $theme-hacker-secondary-text-color,
        secondary-text-on-secondary-color:$theme-hacker-secondary-text-on-secondary-color,
        link-color: $theme-hacker-link-on-secondary-color,
        link-on-secondary-color: $theme-hacker-link-on-secondary-color,
);
